@media screen {
  
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 10px;
  }
}
.container {
  padding: 85px;
}
@media (max-width: 768px) {
  .container {
    padding: 35px;
  }
}
.navbar {
  padding: 85px;
  background-color: #00374a;
  text-align: center;
}
.navbar a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .navbar a {
    font-weight: 400;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 25px;
  }
}
.navbar a:hover {
  color: #808080;
}
.navbar li {
  display: inline;
  padding-right: 30px;
  list-style: none;
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .navbar li {
    font-weight: 400;
    font-size: 10px;
    padding-right: 10px;
  }
}
.heading {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
.text {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: none;
  letter-spacing: 1.2px;
  font-size: 14px;
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .text {
    font-size: 8px;
  }
}
.footerarea {
  background-color: #00374a;
  padding: 85px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  font-size: 20px;
}
@media screen {
  
}
@media screen and (max-width: 768px) {
  .footerarea {
    font-weight: 400;
    font-size: 10px;
    padding: 25px;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
