@housestyle-color: #00374A;
@background-padding: 85px;
@font-weight: 700;
@font-style: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
@text-transform: uppercase;
@font-color: white;
@letter-spacing: 3px;
@nav-font-size: 20px;
@nav-padding: 30px;
@text-size: 14px;
@heading-size: 20px;


@media screen
{
	@media (max-width: 768px)
	{
	   	h1{	font-size: @nav-font-size - 10;	}
	}
}

.container
{
	padding: @background-padding;

	@media (max-width: 768px)
	{
	   	padding: @background-padding - 50;
	}
}


.navbar
{
	padding: @background-padding;
	background-color: @housestyle-color;
	text-align: center;

	a
	{
		color: @font-color;
		text-transform: @text-transform;
    	font-family: @font-style;
    	font-weight: @font-weight;
    	letter-spacing: @letter-spacing;
    	font-size: @nav-font-size;

    	@media screen
    	{
    		@media (max-width: 768px)
    		{
    			font-weight: @font-weight - 300;
    			font-size: @nav-font-size - 10;
    		}
    	}
	}

	@media (max-width: 768px)
    {
    	padding: @background-padding - 60;
    }

	a:hover
	{
		color: @font-color / 2;
	}

	li
	{
		display: inline;
		padding-right: @nav-padding;
		list-style: none;

		@media screen
    	{
    		@media (max-width: 768px)
    		{
    			font-weight: @font-weight - 300;
    			font-size: @nav-font-size - 10;
    			padding-right: @nav-padding - 20;
    		}
    	}
	}
}

.heading
{
		text-transform: @text-transform;
	    font-family: @font-style;
	    font-weight: @font-weight;
	    letter-spacing: @letter-spacing;
	    font-size: @heading-size;

	    @media screen
	    {
	    	@media (max-width: 768px)
	    	{
	    		font-size: @heading-size - 10;
	    		letter-spacing: @letter-spacing - 2;
	    	}
	    }
}

.text
{
	.heading;
	text-transform: none;
	letter-spacing: @letter-spacing - 1.8;
	font-size: @text-size;

	@media screen
    {
    	@media (max-width: 768px)
    	{
    		font-size: @text-size - 6;
    	}
    }	
}

.footerarea
{
		background-color: @housestyle-color;
		padding: @background-padding;
		color: @font-color;
		text-transform: @text-transform;
	    font-family: @font-style;
	    font-weight: @font-weight;
	    letter-spacing: @letter-spacing;
	    text-align: center;
	    font-size: @nav-font-size;

	    @media screen
    	{
    		@media (max-width: 768px)
    		{
    			font-weight: @font-weight - 300;
    			font-size: @nav-font-size - 10;
    			padding: @background-padding - 60;
    		}
    	}
}